<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Ali Javed" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get in touch with me.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Ali Javed</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Profile</a></li>
					<li><a href="/values" class="link">Vision</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Resources</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">CV</a></li>
					<li><a href="/contact" class="link">Research Proposal</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "https://www.facebook.com/javed.ali12123" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "https://www.twitter.com/javedali12123" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "https://www.linkedin.com/in/alijaved-me" "#" "svg" "icons-linkedin") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-youtube") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
